<!--
footer.html

This file defines the footer component used across PhishDefneder website.

Purpose:
- Display project title and description
- Shows authorship and copyright information
- Provides a consistent footer across all pages 

This file is dynamically loaded into pages using the com,ponent loader
-->
<div class="footer">
  <div class="footer-inner">
    <!-- Project Name -->
    <div class="footer-title">PhishDefender</div>
    <!-- Short description of the project -->
    <div class="footer-text">
      Honours Project: Real Time Phishing Detection in Email Inboxes Using Machine Learning
    </div>

    <!-- Author + Year + University -->
    <div class="footer-copyright">
      © Cullen Ledraw-Carrick - 2026 - Edinburgh Napier University
    </div>
  </div>
</div>